.default {
	width: 92%;
	max-width: 1152px;
	margin: 0 auto;
}

.large {
	composes: default;
	max-width: 1280px;
}

.stack > * + * {
	margin-top: var(--stack-space, 1em);
}

.heading {
	font-size: var(--body);
}
